.header {
  text-align: center;
  font-family: tahoma;
  font-size: 50px;
  font-weight: 700;
  color: maroon;
}
.paragraph {
  text-indent: 30px;
  font-size: 20px;
}
li {
  font-size: 20px;
}
.listDiv {
  padding-left: 300px;
  width: 220px;
  height: 150px;
  background: rgba(212, 15, 15, 0.63);
  border-radius: 20px;
}
