.hsfHeader {
  text-align: center;
  font-family: tahoma;
  font-size: 50px;
  font-weight: 700;
  color: darkred;
}
.hsfDiv {
  width: 420px;
  border-radius: 20px;
  background: cornsilk;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px 10px 20px;
}
.hsfParagraph {
  text-indent: 30px;
  font-size: 20px;
}
.hsfImg {
  size: 200%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.grhHeader {
  text-align: center;
  font-family: tahoma;
  font-size: 50px;
  font-weight: 700;
  color: darkred;
}
.grhDiv {
  width: 420px;
  border-radius: 20px;
  background: cornsilk;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px 10px 20px;
}
.grhParagraph {
  text-indent: 30px;
  font-size: 20px;
}
.grhImg {
  size: 200%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.homeLink {
  width: 100px;
  background: rgba(212, 15, 15, 0.63);
  border-radius: 10px;
}
